@font-face {
    font-family: "play";
    src: url(".../font/PlayfairDisplay-Regular.ttf") format("truetype");
    font-weight: 100;
}

@font-face {
    font-family: "play";
    src: url(".../font/PlayfairDisplay-Bold.ttf") format("truetype");
    font-weight: 700;
}


