body{
    width: 100%;
    height: 100vh;
    background: linear-gradient(#048,transparent);
    color: #eee;
    margin: 0;
    

}

div{
    background: #48a;
    margin: auto;
    width: 400px;
    margin-top: 20px;
    border: 15px solid transparent;
    border-radius: 20px;
    box-sizing: border-box;
    box-shadow: 0 0 30px #000a;

}

h1 {
    font-family: "play";
    font-weight: 100;
    margin: 0;
    text-align: center;
}

h2 {
    font-family: "play";
    font-weight:bold;
    font-size: 16px;
    letter-spacing: 2px;
    text-align: center;
}

.poema {
    font-family: "play";
    font-weight: 100;
    font-size: 16px;
    padding: 20px;
    ;
}