body{
    width: 100%;
    height: 100vh;
    background: linear-gradient(#dd99ff,transparent);
    color: #eee;
    font-family: "play";
    

}

div{
    background: #aa99ff;
    margin: auto;
    width: 400px;
    margin-top: 20px;
    border: 15px solid transparent;
    border-radius: 20px;
    box-sizing: border-box;

}

a{
    color:#1160fd ;
    font-family: "play";
}


h2{
    color: #eee8;
}

