body{
    width: 100%;
    height: 100vh;
    background: linear-gradient(#048,transparent);
    color: #eee;
    font-family: "play";
    

}

div{
    background: #48a;
    margin: auto;
    width: 400px;
    margin-top: 20px;
    border: 15px solid transparent;
    border-radius: 20px;
    box-sizing: border-box;

}

a{
    color:#eee ;
    font-family: "play";
    text-decoration: none;
}


h2{
    color: #eee8;
}

