body{
    width: 100%;
    height: 100vh;
    background: linear-gradient(#dd99ff,transparent);
    

}

div{
    background: #aa99ff;
    margin: auto;
    width: 500px;
    margin-top: 20px;
    border: 15px solid transparent;
    border-radius: 20px;

}

h1 {
    font-family: "play";
    font-weight: 100;
    margin: 0;
    text-align: center;
}

h2 {
    font-family: "play";
    font-weight:bold;
    font-size: 13px;
    letter-spacing: 2px;
    text-align: center;
}

.poema {
    font-family: "play";
    font-weight: 100;
    font-size: 11px;
    padding: 20px;
    ;
}